
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<div>

    <a href='@Url.Action("CreateApplication", "Home")'>
        <input type='button' value='Create Application' />
    </a>
    </br>

    </br>
    <a href='@Url.Action("SearchApplication", "Home")'>
        <input type='button' value='Search Application' />
    </a>
</div>