
@{
    ViewBag.Title = "Confirmation";
}

<h2>Confirmation Page</h2>

<h2>Your Application has Been Submitted.</h2>


<p>For transaction receipt download <a href="/Home/Export?AppId=@ViewBag.AppId&FamilyId=@ViewBag.FamilyId">here</a></p>